In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Dataset=pd.read_csv('Fint.csv')

In [3]:
Dataset.head()

,Age,RACE,famsize,INCOME,REGION,categories,colors,prices.amountMax,prices.amountMin,prices.color,prices.isSale,gender
0,29,WHITE,3,MINCOME,MIDWEST,"Womens,Shoes,Boots,Journee Collection","Black,Grey,Beige",89.99,67.99,Gray,False,Female
1,37,BLACK,3,MINCOME,SOUTH,"Womens,Shoes,Boots,Journee Collection","Black,Grey,Beige",79.99,59.49,Gray,False,Female
2,28,WHITE,2,HINCOME,MIDWEST,"Womens,Shoes,Boots,Journee Collection","Black,Grey,Beige",79.99,79.99,Camel,False,Female
3,44,BLACK,2,HINCOME,NORTHEAST,"Womens,Shoes,Boots,Journee Collection","Black,Grey,Beige",89.99,67.99,Stone,False,Female
4,32,WHITE,1,LINCOME,WEST,"Womens,Shoes,Boots,Journee Collection","Black,Grey,Beige",79.99,79.99,Black,False,Female

In [ ]:
pip install mlxtend

In [ ]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
Dataset.head()

In [ ]:
Dataset.tail()

In [ ]:
Dataset['colors']

In [ ]:
Dataset.colors.unique()

In [ ]:
Dataset.colors.str.split(",",expand=True,)

In [47]:
D2=Dataset.iloc[0:100,0:2]
D2=Dataset[['INCOME','prices.color']]
print(D2)

       INCOME prices.color
0     MINCOME         Gray
1     MINCOME         Gray
2     HINCOME        Camel
3     HINCOME        Stone
4     LINCOME        Black
...       ...          ...
2177  LINCOME        Black
2178  LINCOME         Navy
2179     POOR         Pink
2180  MINCOME        Black
2181     POOR        Black

[2182 rows x 2 columns]

In [48]:
transactions1 = []
for i in range(0, 100):
    transactions1.append([str(D2.values[i,j]) for j in range (0,2)])

In [49]:
from apyori import apriori
rules1 = apriori(transactions=transactions1, min_support = 0.003, min_confidence = 0.2, min_lift = 2, min_length = 2)

In [50]:
results1 = list(rules1)

In [51]:
print(results1)

[RelationRecord(items=frozenset({'NPOOR', 'Black'}), support=0.03, ordered_statistics=[OrderedStatistic(items_base=frozenset({'NPOOR'}), items_add=frozenset({'Black'}), confidence=0.6, lift=2.0689655172413794)]), RelationRecord(items=frozenset({'Blush', 'HINCOME'}), support=0.02, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Blush'}), items_add=frozenset({'HINCOME'}), confidence=0.6666666666666667, lift=2.0833333333333335)]), RelationRecord(items=frozenset({'LINCOME', 'Taupe'}), support=0.05, ordered_statistics=[OrderedStatistic(items_base=frozenset({'LINCOME'}), items_add=frozenset({'Taupe'}), confidence=0.2777777777777778, lift=2.314814814814815), OrderedStatistic(items_base=frozenset({'Taupe'}), items_add=frozenset({'LINCOME'}), confidence=0.4166666666666667, lift=2.314814814814815)]), RelationRecord(items=frozenset({'POOR', 'Silver'}), support=0.01, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Silver'}), items_add=frozenset({'POOR'}), confidence=0.5, lift=2.7777777777777777)])]

In [52]:
def inspect(results1):
    lhs         = [tuple(result1[2][0][0])[0] for result1 in results1]
    rhs         = [tuple(result1[2][0][1])[0] for result1 in results1]
    supports    = [result1[1] for result1 in results1]
    confidences = [result1[2][0][2] for result1 in results1]
    lifts       = [result1[2][0][3] for result1 in results1]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results1), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

In [53]:
resultsinDataFrame

  Left Hand Side Right Hand Side  Support  Confidence      Lift
0          NPOOR           Black     0.03    0.600000  2.068966
1          Blush         HINCOME     0.02    0.666667  2.083333
2        LINCOME           Taupe     0.05    0.277778  2.314815
3         Silver            POOR     0.01    0.500000  2.777778

In [61]:
D2=Dataset.iloc[0:100,0:2]
D2=Dataset[['prices.color', 'gender']]
print(D2)

     prices.color  gender
0            Gray  Female
1            Gray  Female
2           Camel  Female
3           Stone  Female
4           Black  Female
...           ...     ...
2177        Black  Female
2178         Navy  Female
2179         Pink  Female
2180        Black  Female
2181        Black  Female

[2182 rows x 2 columns]

In [67]:
transactions1 = []
for i in range(0, 100):
    transactions1.append([str(D2.values[i,j]) for j in range (0,2)])

In [68]:
from apyori import apriori
rules1 = apriori(transactions=transactions1, min_support = 0.003, min_confidence = 0.2, min_lift = 2, min_length = 2)

In [69]:
results1 = list(rules1)

In [70]:
print(results1)

[]

In [66]:
def inspect(results1):
    lhs         = [tuple(result1[2][0][0])[0] for result1 in results1]
    rhs         = [tuple(result1[2][0][1])[0] for result1 in results1]
    supports    = [result1[1] for result1 in results1]
    confidences = [result1[2][0][2] for result1 in results1]
    lifts       = [result1[2][0][3] for result1 in results1]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results1), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

In [60]:
resultsinDataFrame#color', 'RACE'

   Left Hand Side Right Hand Side  Support  Confidence       Lift
0              25           Camel     0.02    0.500000   5.555556
1              26           Taupe     0.02    0.400000   3.333333
2           Blush              27     0.01    0.333333   4.166667
3              27           Stone     0.03    0.375000   2.884615
4              28           Camel     0.01    0.500000   5.555556
5              28             Red     0.01    0.500000  10.000000
6              29           Blush     0.01    0.250000   8.333333
7              30            Gray     0.01    0.500000   2.631579
8              31            Gray     0.02    0.400000   2.105263
9              32           Stone     0.01    0.500000   3.846154
10             34            Blue     0.01    0.500000  25.000000
11             34            Navy     0.01    0.500000   8.333333
12             35           Camel     0.02    0.333333   3.703704
13             36           Black     0.05    0.714286   2.463054
14             39            Gray     0.03    0.500000   2.631579
15             40           Stone     0.01    0.500000   3.846154
16         Silver              41     0.01    0.500000   8.333333
17             41           Taupe     0.02    0.333333   2.777778
18             42            Blue     0.01    0.333333  16.666667
19             42            Navy     0.01    0.333333   5.555556
20         Silver              43     0.01    0.500000  10.000000
21             45           Blush     0.01    1.000000  33.333333
22             46            Gray     0.01    1.000000   5.263158

In [ ]:
Dataset[' Age']

In [ ]:
D2=Dataset.iloc[0:100,0:2]
D2=Dataset[['REGION','prices.color']]
print(D2)

In [ ]:
transactions1 = []
for i in range(0, 100):
    transactions1.append([str(D2.values[i,j]) for j in range (0,2)])

In [ ]:
from apyori import apriori
rules1 = apriori(transactions=transactions1, min_support = 0.003, min_confidence = 0.2, min_lift = 2, min_length = 2)

In [ ]:
results1 = list(rules1)

In [ ]:
print(results1)

In [ ]:
def inspect(results1):
    lhs         = [tuple(result1[2][0][0])[0] for result1 in results1]
    rhs         = [tuple(result1[2][0][1])[0] for result1 in results1]
    supports    = [result1[1] for result1 in results1]
    confidences = [result1[2][0][2] for result1 in results1]
    lifts       = [result1[2][0][3] for result1 in results1]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results1), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

In [ ]:
resultsinDataFrame#Age',income

In [33]:
D2=Dataset.iloc[0:100,0:2]
D2=Dataset[['prices.amountMax', '']]
print(D2)

      prices.amountMax   INCOME
0                89.99  MINCOME
1                79.99  MINCOME
2                79.99  HINCOME
3                89.99  HINCOME
4                79.99  LINCOME
...                ...      ...
2177             74.99  LINCOME
2178             74.99  LINCOME
2179             69.99     POOR
2180             69.99  MINCOME
2181             69.99     POOR

[2182 rows x 2 columns]

In [34]:
transactions1 = []
for i in range(0, 100):
    transactions1.append([str(D2.values[i,j]) for j in range (0,2)])

In [35]:
from apyori import apriori
rules1 = apriori(transactions=transactions1, min_support = 0.003, min_confidence = 0.2, min_lift = 2, min_length = 2)

In [36]:
results1 = list(rules1)

In [37]:
print(results1)

[]

In [38]:
def inspect(results1):
    lhs         = [tuple(result1[2][0][0])[0] for result1 in results1]
    rhs         = [tuple(result1[2][0][1])[0] for result1 in results1]
    supports    = [result1[1] for result1 in results1]
    confidences = [result1[2][0][2] for result1 in results1]
    lifts       = [result1[2][0][3] for result1 in results1]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results1), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

In [39]:
resultsinDataFrame # prices.amountMax', 'INCOME'

Empty DataFrame
Columns: [Left Hand Side, Right Hand Side, Support, Confidence, Lift]
Index: []

In [ ]:
D2=Dataset.iloc[0:100,0:2]
D2=Dataset[[' Age', 'REGION']]
print(D2)

In [ ]:
transactions1 = []
for i in range(0, 100):
    transactions1.append([str(D2.values[i,j]) for j in range (0,2)])

In [ ]:
from apyori import apriori
rules1 = apriori(transactions=transactions1, min_support = 0.003, min_confidence = 0.2, min_lift = 2, min_length = 2)

In [ ]:
print(rules1)

In [ ]:
def inspect(results1):
    lhs         = [tuple(result1[2][0][0])[0] for result1 in results1]
    rhs         = [tuple(result1[2][0][1])[0] for result1 in results1]
    supports    = [result1[1] for result1 in results1]
    confidences = [result1[2][0][2] for result1 in results1]
    lifts       = [result1[2][0][3] for result1 in results1]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results1), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

In [ ]:
resultsinDataFrame

In [ ]:
D2=Dataset.iloc[0:100,0:2]
D2=Dataset[['gender',' Age']]
print(D2)

In [ ]:
transactions1 = []
for i in range(0, 100):
    transactions1.append([str(D2.values[i,j]) for j in range (0,2)])

In [ ]:
from apyori import apriori
rules1 = apriori(transactions=transactions1, min_support = 0.003, min_confidence = 0.2, min_lift = 2, min_length = 2)

In [ ]:
results1 = list(rules1)

In [ ]:
print(results1)

In [ ]:
resultsinDataFrame

In [ ]:
D2=Dataset.iloc[0:100,0:2]
D2=Dataset[['prices.amountMax', 'INCOME']]
print(D2)

In [ ]:
import numpy as np  
import matplotlib.pyplot as plt  
import pandas as pd  
from apyori import apriori

In [ ]:
movie_data = pd.read_csv('Fint.csv', header = None)
num_records = len(movie_data)
print(num_records)

In [ ]:
records = []  
for i in range(0, num_records):  
    records.append([str(movie_data.values[i,j]) for j in range(0, 12)])

In [ ]:
association_rules = apriori(records, min_support=0.003, min_confidence=0.20, min_lift=2, min_length=2)
association_results = list(association_rules)

In [ ]:
print(len(association_results))

In [ ]:
print(association_results[0])

In [ ]:
results = []
for item in association_results:
    
    # first index of the inner list
    # Contains base item and add item
    pair = item[0] 
    items = [x for x in pair]
    
    value0 = str(items[0])
    value1 = str(items[1])

    #second index of the inner list
    value2 = str(item[1])[:7]

    #third index of the list located at 0th
    #of the third index of the inner list

    value3 = str(item[2][0][2])[:7]
    value4 = str(item[2][0][3])[:7]
    
    rows = (value0, value1,value2,value3,value4)
    results.append(rows)
    
labels = ['Title 1','Title 2','Support','Confidence','Lift']
movie_suggestion = pd.DataFrame.from_records(results, columns = labels)

print(movie_suggestion)